<footer class="footer">
  <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
    <div class="socials">
      <div class="social-icons">
        <h5>Redes Sociales</h5>
        <ul>
          <li><a href="https://www.instagram.com/area52.eve/" aria-label="enlace a Instagram" title="enlace a Instagram"><span> </span>Instagram</a></li>
          <li><a href="https://www.facebook.com/area52.eve" aria-label="enlace a Facebook" title="enlace a Facebook"><span> </span>Facebook</a></li>
          <li><a href="https://discord.gg/PCa4wdkTdb" aria-label="enlace a Discord" title="enlace a Discord"><span>ﭮ </span>Discord</a></li>
        </ul>
      </div>
      © 2021 Area-52. Todos los derechos reservados. Desarrollado por <a href="https://marcoromero.com.ar" aria-label="enlace a Marco Antonio Romero" title="Marco Antonio Romero">Darkfoe703</a>
    </div>
    <div class="copy">
      <h5>Aviso de copyright</h5>
      <a href="https://www.eveonline.com/" aria-label ="enlace a EVE Online" title="EVE Online">EVE Online</a> y el logotipo de EVE son marcas comerciales registradas de <a href="https://www.ccpgames.com/" aria-label="enlace a CCP Games" title="CCP Games">CCP hf</a>. Todos los derechos están reservados en todo el mundo. Todas las demás marcas comerciales son propiedad de sus respectivos dueños.
      CCP no es de ninguna manera responsable por el contenido o el funcionamiento de este sitio web, ni puede ser responsable de ningún daño que surja del uso del mismo.
    </div>
  </div>
</footer>
