<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  {% feed_meta %}
  {% seo.tags %}
  <meta name="keywords" content="Area 52,-52,Area-52,area52,corporacion,eve,EVE Online,MMORPG,comunidad">
  <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="{{site.url}}/assets/css/uikit.min.css" />
  <link rel="stylesheet" href="https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
  {% if page.title != Area-52 %}
  <link rel="stylesheet" href="{{site.url}}/assets/css/gh-md.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/blog.css">
  {% endif %}
</head>
