<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}
  <title>Blog</title>
  <body>

    {%- include header_blog.html -%}

    <section id="blog-main" class="uk-flex">
      <main class="blog-content">
        {% if page.type == 'tag' %}
          {% assign tipo = 'etiqueta' %}
        {% else %}
          {% assign tipo = 'categoría' %}
        {% endif %}
        <h1>Posts con la {{ tipo }} '{{ page.title }}'</h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            {% for post in page.posts %}
            <div>
              <div class="uk-card uk-card-default uk-card-hover"><a href="{{ post.url | relative_url }}">
                <div class="uk-card-media-top">
                  {% if post.thumbnail contains "http" %}
                  <img src="{{ post.thumbnail }}" alt="{{post.thumbnail_alt}}">
                  {% else %}
                  <img src="{{site.url}}/{{ post.thumbnail }}" alt="{{post.thumbnail_alt}}">
                  {% endif %}
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">{{ post.title | escape }}</h3>
                  <span>{{post.date | date_to_string}}</span>
                  <p>{{post.description}}</p>
                </div></a>
              </div>
            </div>
            {% endfor %}
        </div>
      </main>
      {%- include aside.html -%}
    </section>


    {%- include footer.html -%}
    {%- include scripts.html -%}

  </body>

</html>
